# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- Popular languages for data scientists.
- Commonly used library for data scientists.
- Tools used for data scientists.

Some of the popular languages that Data Scientists use are:
1. R
2. Python 
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Sci-Kit Learn
4. Matplotlib
5. ggvis

| Data Science Tools | 
| -------------|
| RStudio | 
| Apache Spark | 
| TensorFlow | 
| Apache Hadoop | 
| RapidMiner |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
total_minutes = 200

hours = total_minutes // 60

hours

3

## Author ##
Sarah Ahmed